@model IEnumerable<Collection.DAL.Customer>

@{
    ViewBag.Title = "CustomerIndex";
}

<h2>CustomerIndex</h2>

<p>
    @Html.ActionLink("Add Record", "CreateCustomer" , new { @class = "glyphicon glyphicon-plus" })
</p>
<div class="panel panel-primary" id="list">
    <div class="panel-heading">
        Customers
    </div>
    <div class="panel-body">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CustomerNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CustomerName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Active)
                   
                </th>
                <th>
                    Edit
                </th>
                <th>
                    Delete
                </th>

            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomerNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomerName)
                    </td>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.Active)*@
                        @{
                            if (item.Active == true)
                            {
                                <input type="checkbox" checked disabled />
                            }
                            else
                            {
                                <input type="checkbox" disabled />
                            }
                        }
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditCustomer", new { id = item.CustomerId }, new { @class = "glyphicon glyphicon-pencil" })

                    </td>
                    <td>
                        @Html.ActionLink("Delete", "DeleteCustomer", new { id = item.CustomerId }, new { @class = "glyphicon glyphicon-remove" })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>